img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.country-card {
  max-width: 300px;
  box-shadow: 0 1px 3px  hsl(0, 0%, 52%, 25%);
  background-color: white;
  border-radius: 0.5rem;
}

.desc-container {
  padding: 1.375rem;
  padding-bottom: 2.675rem;
}

.desc-container h2 {
  font-size: 18px;
  font-weight: 800;
  padding-bottom: 1rem;
}

.desc {
  list-style-type: none;
}

.desc li {
  font-size: 14px;
  line-height: 1.5rem;
}

.desc b {
  font-weight: 800;
}

