.searchfilter_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  row-gap: 5rem;
}

@media (min-width: 768px) {
  .searchfilter_container {
    padding: 3rem 1rem;
  }
}

