.searchBar_container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 1.125rem 2rem;
  background-color: var(--elements);
  box-shadow: 0 1px 3px var(--shadows);
  border-radius: 0.25rem;
  align-items: center;
}

.searchBar_container input {
  border: 0;
  font-weight: 600;
  background-color: transparent;
  color: var(--text-input);

}

.searchBar_container input::placeholder {
  color: var(--text-input);
  font-weight: 300;
}

.searchBar_container input:focus {
  border: 0;
  outline: 0;
}

.icon {
  margin-right: 2rem;
  color: var(--text-input)
}

@media (min-width: 0px) {
  .searchBar_container input {
    width: 100%;
  }

  .searchBar_container {
    width: 100%;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .searchBar_container input {
    width: 23rem;
  }

  .searchBar_container {
    width: auto;
  }
}