
.dark-mode-toggle-button {
  display: flex;
  flex-direction: row;
  background: none;
  border: none;
}



.fa {
  margin: 0 auto; /* keep SVG aligned with text */
  padding-right: 0.5em;
  color: var(--text-primary);
}

@media (min-width: 0px) {
  .dark-mode-toggle-button {
    line-height: 1;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-primary);
  }
}

@media (min-width: 600px) {
  .dark-mode-toggle-button p {
    font-size: 1rem;
  }
}