
.dark-mode-toggle-button {
  display: flex;
  flex-direction: row;
  background: none;
  border: none;
}

.dark-mode-toggle-button p {
  line-height: 1;
  font-size: 1rem;
  font-weight: 600;
}

.fa {
  margin: 0 auto; /* keep SVG aligned with text */
  padding-right: 0.5em;
}