header {
  width: 100%;
  box-shadow: 0 1px 3px  hsl(0, 0%, 52%, 25%);
}

.header-contents {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;

  /* center header elements */
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
}